.op {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.activate,
.initiateBox {
  padding: 15px 20px;
  background-color: blueviolet;
}
.activate:hover,
.initiateBox:hover {
  background-color: orangered;
}

main {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px;
}

.display-calculator {
  grid-column: span 4;
}
.output {
  grid-column: span 4;
}
