/* Pyramide */
/* body {
  margin: auto auto;
  text-align: center;
  line-height: 0.7;
} */
.op {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.activate {
  padding: 15px 20px;
  background-color: blueviolet;
}
.activate:hover {
  background-color: orangered;
}
main {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
}
div {
  /*   display: flex; */
  padding: 20px;
  padding-bottom: 20px;
  margin: 15px;
  background-color: green;
  text-align: center;
  /*   justify-content: center; */
}
